.productContainer ul {
    margin:0
}

.productContainer {
    margin:0;
    width: auto;
    color: #FF6060
}

.productContainer h1 {
    font-size: 36px;
    line-height: 51px;
    font-weight: 500;
    vertical-align: Bottom
}

.productContainer h2 {
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    vertical-align: Bottom
}

.blocInfo, .blocList, .tagsList, .blocCollapse {
    display: flex;
    flex-flow: row;
    justify-content: space-between
}

.blocCollapse {
    gap:96px
}

.blocCollapse li {
    color: #FFF
}

.blocInfo {
    margin: 30px 0 0 0;
}

.blocList {
    margin: 23px 0 0 0;
}

.blocCollapse {
    margin: 26px 0 0 0;
}