.kasa-banner {
	margin: auto;
	max-width:1224px;
	min-height:223px;
	width: 100%;
	height:100%;
	border-radius: 25px
}

.kasa-banner>div {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height:100%;
	min-height:223px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 25px
}

.kasa-banner h2 {
	padding: 10px;
	font-weight: 500;
	height:100%; 
	text-align: center;
	font-size:48px;
    color: white
}

@media all and (max-width: 650px) {

	.kasa-banner {
		min-height:111px;
		align-items: center
	}
	
	.kasa-banner>div {
		justify-content: flex-start;
		min-height:111px;
		text-align: left
	}
	
	
	.kasa-banner h2 {
		width: 45%;
		font-size:24px;
		text-align: left
	}

}