.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FF6060;
}

.error h2 {
    font-size: 203px;
    margin: 0 0 66px 0;
}

.error h3 {
    font-size: 36px;
    font-weight: 500;
    margin: 0 0 182px 0;
}

.error a {
    text-decoration: none;
    color: #FF6060;
}

footer {
    display:none
}