.kasa-item {
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
	padding: 15px;	
	height: 280px;
	border-radius: 10px;
	background: linear-gradient(to top, rgba(0, 0, 0 , .9) -50%, #FF6060 50%, #FF6060 100%)
}

.kasa-item h2 {
	font-size: 18px;
	line-height: 26px;
	color: #FFF;
	font-weight: 500;
	text-decoration: none;
	text-align: left
}