.collapse-bar{
	background-color:#FF6060;
}

.collapse-content-close {
	display: none;
}

.collapse-content-open {
	display: flex;
	text-transform: full-size-kana;
}

.arrowUp {
	transform: rotate(180deg);
}

.arrowDown {
	transform: rotate(0);
}
