.kasa-item-cover {
	height: 280px;
	border-radius: 25px
}

.kasa-item {
    display: flex;
	flex-flow: column;
    padding: 15px;
}

.kasa-item h2 {
    font-size: 18px;
    color: #FFF;
    font-weight: normal;
	text-decoration: none;
	position: relative;
	top:-75px
}